.line-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*这个数字是设置要显示省略号的行数*/
  -webkit-box-orient: vertical;
}

.line-clampes {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*这个数字是设置要显示省略号的行数*/
  -webkit-box-orient: vertical;
}

.triangle {
  width: 0px;
  height: 0px;
  border-top-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.problem:last-child {
  border: none;
}

button {
  border-radius: 0 ;
  padding: 0;
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
  display: none;
  opacity: 0;
  color: transparent!important;
}
button[disabled]{
  background-color: #E3E3E3 !important;
}

button::after{
  border: none!important;
}
